[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
flake8 = "*"
fastapi = "*"
uvicorn = "*"
pre-commit = "*"
pytest = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.8"
